
<nav>
	<a href="#/wh/stock" type="button" class="btn btn-info">Liste</a>
</nav>

<div class="panel panel-default" ng-init="editable = false">

	<div class="panel-heading">

		<span>
			<div class="btn-group">
				<button type="button" ng-class="!editable ? 'active': '' " ng-click="editable=false" class="btn btn-default">mode Vue</button>
				<button type="button" ng-class="editable ? 'active': ''" ng-click="editable=true" class="btn btn-default">mode Editon </button>
			</div>
		</span>

	</div>

	<div class="panel-body">
		<form role="form">

			<input type="hidden" class="form-control" id="_id" ng-model="stock._id">
			
			
			<div class="form-group">
				<label for="name">Nom</label>
				<input ng-show="editable" type="text" class="form-control" id="nom" placeholder="Nom" ng-model="stock.nom">
				<p ng-show="!editable">{{stock.nom}}</p>
			</div>

			

			<div class="form-group">
				<label for="name">quantité</label>
				<input ng-show="editable" type="text" class="form-control" id="quantite" placeholder="quantite" ng-model="stock.quantite">
				<p ng-show="!editable">{{stock.quantite}}</p>
			</div>

			<button ng-click="submit()" ng-show="editable" type="submit" class="btn btn-success">Submit</button>
		</form>

		<div ng-show="message" class="alert alert-success" role="alert">
			{{message}}
		</div>

	</div>

</div>